<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>全屏布局-4-自适应grid</title>
  <style>
  html,body,.container {
    margin:0;
    height:100%;
    overflow:hidden;
  }
  .container {
    display: grid;
    grid-template-rows: auto auto auto;
  }
  .header {
    background:#9e9596;
  }
  .main {
    display: grid;
    grid-template-columns: auto auto;
  }
  .sub {
      background:#B9EB4A;
  }
  .content-wrap {
    background:#ebe296;
    overflow: auto;
  }
  .content {
    min-height: 1000px;
  }
  .footer {
    background: #9e9596;
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <p>header</p>
    </div>
    <div class="main">
      <div class="sub">subsubsub</div>
      <div class="content-wrap">
        <div class="content">content</div>
      </div>
    </div>
    <div class="footer">footer</div>
  </div>
</body>
</html>
