<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>响应式-1</title>
  <style>
    .sub {
      float: left;
      width: 100px;
      margin-right: 20px;
      background: #d97aeb;
    }
    .content {
      overflow: hidden;
      background: #63cddf;
    }
    @media screen and (max-width:640px) {
      .sub {
        float: none;
        width: auto;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="sub">
      <p>sub</p>
      <p>sub</p>
      <p>sub</p>
    </div>
    <div class="content">
      <p>content</p>
      <p>content</p>
      <p>content</p>
    </div>
  </div>
</body>
</html>
