<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>左定宽右自适应-4-flex</title>
  <style>
  .container {
    display: flex;
  }
  .sub {
    width: 200px;
    background: #6df0d0;
  }
  .main {
    background: #ebe296;
    flex: 1;
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="sub">
      <p>定宽</p>
      <p>两列自动等高</p>
    </div>
    <div class="main">
      <p>flex:1</p>
      <p>父级container设置display：flex</p>
      <p>兼容不好</p>
      <p>适合小范围布局，性能一般</p>
    </div>
  </div>
</body>
</html>
